<main>
  <div class="container">
    <h1 class="p-5">Nuestras habitaciones</h1>
    <div class="filtros">
      <span>Filtrar</span>
      <div class="book" [formGroup]="bookForm">
        <mat-form-field appearance="fill" class="example-form-field">
          <mat-label>Fechas</mat-label>
          <mat-date-range-input [rangePicker]="rangePicker" [min]="minDate">
            <input formControlName="dateStart" matStartDate placeholder="Entrada">
            <input formControlName="dateEnd" matEndDate placeholder="Salida">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #rangePicker>
            <mat-date-range-picker-actions>
              <button mat-button matDateRangePickerCancel>Cancelar</button>
              <button mat-raised-button color="primary" matDateRangePickerApply>Aplicar</button>
            </mat-date-range-picker-actions>
          </mat-date-range-picker>
        </mat-form-field>

        <button class="button1" mat-raised-button color="primary" (click)="searchRooms()"
          [disabled]="searchRoomsIsValid()">Buscar
          habitaciones</button>
      </div>
    </div>
  </div>
  <div>
    <app-room-to-list *ngFor="let room of listRoom" [description]="room.descriptionShort" [title]="room.name"
      [image]="room.image" [codeRoom]="room.code">
    </app-room-to-list>
  </div>
</main>