<div class="footer" #footer>
  <div class="container">
    <div>
      <a href="#">Política de cookies</a>
      <a href="#">Aviso Legal</a>
      <a href="https://www.sic.gov.co/" target="_blank">Superintendencia de Insdustria y comercio</a>
      <a href="#">Contrato de alojamiento</a>
      <div>
        <!-- Links -->
        <h6 class="text-uppercase fw-bold mb-4">
         Contactanos
       </h6>
       <p><i class="fas fa-home me-3"></i> Colombia, Bogotá</p>
       <p>
         <i class="fas fa-envelope me-3"></i>
         contact@CullinanST.com
       </p>
       <p><i class="fas fa-phone me-3"></i> 601 234 5688</p>
       <p><i class="fas fa-print me-3"></i> 601 657 5846</p>
     </div>
   </div>
      <span> © The Cullinan South Tower</span>
      <a href="https://www.uninorte.edu.co/web/educacion-continuada/misiontic2022" target="_blank">Misión Tic 2022</a>
    </div>

 

</div>